<body>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Regional Mexicano <ion-icon name="musical-notes-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <ion-accordion-group> 
    <ion-accordion value="color">
      
      <ion-item slot="header">
        
        <ion-label>Banda Ms</ion-label>
      </ion-item>
    
      <ion-list slot="content">
        <ion-item slot="header">
          <ion-label>El color de tus ojos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mi razon de ser</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>La casita</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>A lo mejor</ion-label>
        </ion-item>
      </ion-list>
      <ion-item slot="header">
        
      </ion-item>
    </ion-accordion>
</ion-accordion-group>
<ion-accordion-group>
  <ion-accordion value="colors">
    
    <ion-item slot="header">
      
      <ion-label>La Arrolladora</ion-label>
    </ion-item>
  
    <ion-list slot="content">
      <ion-item slot="header">
        <ion-label>El final de nuestra histoia</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ya no te buscare</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cedi</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cabecita dura</ion-label>
      </ion-item>
    </ion-list>
    <ion-item slot="header">
      
    </ion-item>
  </ion-accordion>

  <ion-accordion-group>
    <ion-accordion value="colors">
      
      <ion-item slot="header">
        
        <ion-label>EL Recodo</ion-label>
      </ion-item>
    
      <ion-list slot="content">
        <ion-item slot="header">
          <ion-label>La mejor de todas</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Te Presumo</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Y llegaste tu</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Me gusta todo de ti</ion-label>
        </ion-item>
      </ion-list>
      <ion-item slot="header">      
      
      </ion-item>
    </ion-accordion>
    </ion-accordion-group>
  

    <ion-accordion-group>
      <ion-accordion value="colors">
        
        <ion-item slot="header">
          
          <ion-label>Vicente Fernandez</ion-label>
        </ion-item>
      
        <ion-list slot="content">
          <ion-item slot="header">
            <ion-label>Entre El Amor y Yo</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>No Le Puede Creer</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Bohemio de Afición</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Te Arranqué del Corazón</ion-label>
          </ion-item>
        </ion-list>
        <ion-item slot="header">      
        
        </ion-item>
      </ion-accordion>
  
  
      </ion-accordion-group>



      <ion-accordion-group>
        <ion-accordion value="colors">
          
          <ion-item slot="header">
            
            <ion-label>Cristian Nodal</ion-label>
          </ion-item>
        
          <ion-list slot="content">
            <ion-item slot="header">
              <ion-label>Ya No Somos Ni Seremos</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>De Los Besos Que Te Di</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Adios Amor</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>No te contaron mal </ion-label>
            </ion-item>
          </ion-list>
          <ion-item slot="header">      
          
          </ion-item>
        </ion-accordion>
    
    
        </ion-accordion-group>

</ion-accordion-group>
</ion-header>
<img src="../../assets/icon/slogan.jpg">
</body>